<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.animalquiz">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logoapp"
        android:label=""
        android:roundIcon="@mipmap/logoapp"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
        <activity android:name=".activities.EjemploGit"></activity>
        <activity android:name=".activityQuiz.quiz2Preguntas.ResultadosActivity" />
        <activity
            android:name=".activityQuiz.AleatorioQuizActivity"
            android:theme="@style/fullScrean.noActionBar" />
        <activity
            android:name=".activityQuiz.activityQuiz3.Pregunta2Quiz3Activity"
            android:theme="@style/fullScrean.noActionBar" />
        <activity
            android:name=".activityQuiz.activityQuiz3.PrincipalQuiz3Activity"
            android:theme="@style/fullScrean.noActionBar" />
        <activity
            android:name=".activityQuiz.activityQuiz3.Pregunta1Quiz3Activity"
            android:theme="@style/fullScrean.noActionBar" />
        <activity
            android:name=".activityQuiz.quiz2Preguntas.Pregunta5Quiz2Activity"
            android:theme="@style/fullScrean.noActionBar" />
        <activity
            android:name=".activityQuiz.quiz2Preguntas.Pregunta4Quiz2Activity"
            android:theme="@style/fullScrean.noActionBar" />
        <activity
            android:name=".activityQuiz.quiz2Preguntas.Pregunta3Quiz2Activity"
            android:theme="@style/fullScrean.noActionBar" />
        <activity
            android:name=".activityQuiz.quiz2Preguntas.Pregunta2Quiz2Activity"
            android:theme="@style/fullScrean.noActionBar" />
        <activity
            android:name=".activityQuiz.quiz2Preguntas.Pregunta1Quiz2Activity"
            android:screenOrientation="portrait"
            android:theme="@style/fullScrean.noActionBar" />
        <activity
            android:name=".activityQuiz.PrincipalQuizActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityQuiz.Quiz1Activity"
            android:screenOrientation="portrait"
            android:theme="@style/fullScrean.noActionBar" />
        <activity
            android:name=".activities.DatosPecesCompletosActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.PecesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.DatosReptilesCompletosActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ReptilesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.DatosAnfibiosCompletosActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AnfibiosActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.DatosAvesCompletosActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AvesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.DatosMamiferosCompletosActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MamiferosActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.PrincipalActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/fullScrean.noActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>